---

# Extends the default yamllint config by adjusting some options.
extends: default

rules:
  comments-indentation: disable
  line-length:
    level: error
    allow-non-breakable-inline-mappings: true
  truthy: disable